In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('AEseq2seq/data/cdhit_split_raw.csv')
arc = pd.read_csv('AEseq2seq/data/ArchiveII.csv')

In [9]:
df.head(2)

                          id  fold partition
0  16s_B.burgdorferi_domain4     0      test
1            RNaseP_T.roseum     0      test

In [10]:
arc.head(2)

,id,sequence,structure,base_pairs,len
0,5s_Acholeplasma-laidlawii-1,UCUGGUGACGAUAGGUAAGAUGGUUCACCUGUUCCCAUCCCGAACA...,((((((((......((((((((....((((((.............)...,"[[1, 111], [2, 110], [3, 109], [4, 108], [5, 1...",112
1,5s_Acidovorax-temperans-1,UGCCUGAUGACCAUAGCAAGUUGGUACCACUCCUUCCCAUCCCGAA...,.(((((((((.....((((((((.....((((((...............,"[[2, 115], [3, 114], [4, 113], [5, 112], [6, 1...",115

In [ ]:
df_join =