In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
!ls ../pruebas/crossFamily/weights/tRNA/C1D_C2D/train_log.csv

../pruebas/crossFamily/weights/tRNA/C1D_C2D/train_log.csv

In [3]:
FAMILIES_PATH = '../pruebas/crossFamily/weights/'
ablations = ['C1D_C2D', 'no_ResNet2d'] 
families = os.listdir(FAMILIES_PATH)
print(f"families: {families}")

families: ['tRNA', 'RNaseP', 'telomerase']

In [65]:
train_logs = []
 
train_file = 'train_log.csv'
for ablation in ablations:
    for family in families:
        # Ruta del subdirectorio donde se encuentran los archivos train_log.csv
        train_file_path = os.path.join(FAMILIES_PATH, family, ablation)
        train_file_valid_path = os.path.join(FAMILIES_PATH, family, ablation, 'valid_with_test')
        print(train_file_path)
        print(train_file_valid_path)
        # Verificamos si el directorio existe
        if os.path.isdir(train_file_path):
            # Verificar si el archivo 'train_log.csv' existe en el directorio
            full_path = os.path.join(train_file_path, train_file)
            
            # Si el archivo existe, lo leemos
            if os.path.exists(full_path):
                try:
                    df = pd.read_csv(full_path)
                    
                    # Agregar columnas de 'ablation' y 'crossFamily'
                    df['ablation'] = ablation
                    df['crossFamily'] = family
                    df['valid_set'] = 'None'
                    
                    # Agregar el DataFrame a la lista
                    train_logs.append(df)
                    print(f"Successfully loaded {full_path}")
                except Exception as e:
                    print(f"Error loading {full_path}: {e}")
        
            # Verificamos si el directorio existe
            if os.path.isdir(train_file_valid_path): 
                full_path = os.path.join(train_file_valid_path, train_file)
                
                # Si el archivo existe, lo leemos
                if os.path.exists(full_path):
                    try:
                        df = pd.read_csv(full_path)
                        
                        # Agregar columnas de 'ablation' y 'crossFamily'
                        df['ablation'] = ablation 
                        df['crossFamily'] = family
                        df['valid_set'] = 'test'
                        
                        # Agregar el DataFrame a la lista
                        train_logs.append(df)
                        print(f"Successfully loaded {full_path}")
                    except Exception as e:
                        print(f"Error loading {full_path}: {e}")

# Combinar todos los DataFrames en uno solo
if train_logs:
    df = pd.concat(train_logs, ignore_index=True)
    print(f"Total rows in combined DataFrame: {df.shape[0]}")

../pruebas/crossFamily/weights/tRNA/C1D_C2D
../pruebas/crossFamily/weights/tRNA/C1D_C2D/valid_with_test
Successfully loaded ../pruebas/crossFamily/weights/tRNA/C1D_C2D/train_log.csv
Successfully loaded ../pruebas/crossFamily/weights/tRNA/C1D_C2D/valid_with_test/train_log.csv
../pruebas/crossFamily/weights/RNaseP/C1D_C2D
../pruebas/crossFamily/weights/RNaseP/C1D_C2D/valid_with_test
Successfully loaded ../pruebas/crossFamily/weights/RNaseP/C1D_C2D/train_log.csv
Successfully loaded ../pruebas/crossFamily/weights/RNaseP/C1D_C2D/valid_with_test/train_log.csv
../pruebas/crossFamily/weights/telomerase/C1D_C2D
../pruebas/crossFamily/weights/telomerase/C1D_C2D/valid_with_test
Successfully loaded ../pruebas/crossFamily/weights/telomerase/C1D_C2D/train_log.csv
Successfully loaded ../pruebas/crossFamily/weights/telomerase/C1D_C2D/valid_with_test/train_log.csv
../pruebas/crossFamily/weights/tRNA/no_ResNet2d
../pruebas/crossFamily/weights/tRNA/no_ResNet2d/valid_with_test
Successfully loaded ../pruebas/crossFamily/weights/tRNA/no_ResNet2d/train_log.csv
Successfully loaded ../pruebas/crossFamily/weights/tRNA/no_ResNet2d/valid_with_test/train_log.csv
../pruebas/crossFamily/weights/RNaseP/no_ResNet2d
../pruebas/crossFamily/weights/RNaseP/no_ResNet2d/valid_with_test
Successfully loaded ../pruebas/crossFamily/weights/RNaseP/no_ResNet2d/train_log.csv
Successfully loaded ../pruebas/crossFamily/weights/RNaseP/no_ResNet2d/valid_with_test/train_log.csv
../pruebas/crossFamily/weights/telomerase/no_ResNet2d
../pruebas/crossFamily/weights/telomerase/no_ResNet2d/valid_with_test
Successfully loaded ../pruebas/crossFamily/weights/telomerase/no_ResNet2d/train_log.csv
Successfully loaded ../pruebas/crossFamily/weights/telomerase/no_ResNet2d/valid_with_test/train_log.csv
Total rows in combined DataFrame: 240

In [66]:
ab = "no_ResNet2d"
cf = "telomerase"
display(df.query('ablation == @ab & crossFamily == @cf & valid_set == "None"')[['train_loss', 'valid_loss', 'valid_set']])
display(df.query('ablation == @ab & crossFamily == @cf & valid_set != "None"')[['train_loss', 'valid_loss', 'valid_set']])

     train_loss  valid_loss valid_set
200      0.0629      0.0598      None
201      0.0488      0.0504      None
202      0.0438      0.0427      None
203      0.0405      0.0397      None
204      0.0381      0.0381      None
205      0.0362      0.0366      None
206      0.0343      0.0347      None
207      0.0332      0.0333      None
208      0.0320      0.0336      None
209      0.0313      0.0326      None
210      0.0303      0.0311      None
211      0.0296      0.0304      None
212      0.0289      0.0310      None
213      0.0283      0.0293      None
214      0.0277      0.0290      None
215      0.0271      0.0285      None
216      0.0268      0.0279      None
217      0.0262      0.0275      None
218      0.0258      0.0275      None
219      0.0254      0.0273      None

     train_loss  valid_loss valid_set
220      0.0629      0.0598      test
221      0.0488      0.0503      test
222      0.0439      0.0427      test
223      0.0405      0.0397      test
224      0.0381      0.0381      test
225      0.0362      0.0366      test
226      0.0343      0.0347      test
227      0.0332      0.0333      test
228      0.0320      0.0336      test
229      0.0313      0.0326      test
230      0.0303      0.0311      test
231      0.0296      0.0304      test
232      0.0289      0.0309      test
233      0.0283      0.0293      test
234      0.0277      0.0290      test
235      0.0272      0.0285      test
236      0.0268      0.0279      test
237      0.0262      0.0275      test
238      0.0258      0.0275      test
239      0.0254      0.0274      test

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   epoch          240 non-null    int64
 1   train_f1       240 non-null    float64
 2   train_loss     240 non-null    float64
 3   valid_f1       240 non-null    float64
 4   valid_f1_post  240 non-null    float64
 5   valid_loss     240 non-null    float64
 6   ablation       240 non-null    object
 7   crossFamily    240 non-null    object
 8   valid_set      240 non-null    object
dtypes: float64(5), int64(1), object(3)
memory usage: 17.0+ KB

In [68]:

for ab in df.ablation.unique():
    for cf in df.crossFamily.unique():
        d1 = df.query('ablation == @ab & crossFamily == @cf & valid_set == "None"')['train_loss']
        d2 = df.query('ablation == @ab & crossFamily == @cf & valid_set == "test"')['train_loss']
        df['train_diff'] = d1 - d2
        
        d1 = df.query('ablation == @ab & crossFamily == @cf & valid_set == "None"')[['train_loss', 'valid_loss']]
        d2 = df.query('ablation == @ab & crossFamily == @cf & valid_set == "test"')[['train_loss', 'valid_loss']]
        # print(f'{ab}, {cf}')
        # df['train_diff'] = d1['train_loss'] - d2['train_loss']
        # display(d1,d2)
        #  # df['test_diff'] = d1['valid_loss'] - d2['valid_loss']
df.train_diff.value_counts()

Series([], Name: count, dtype: int64)

In [35]:
df.train_diff.value_counts()

Series([], Name: count, dtype: int64)

In [50]:
df_val_none = pd.read_csv('../pruebas/crossFamily/exp-diff-errores/valid_none/train_log.csv')
df_val_test = pd.read_csv('../pruebas/crossFamily/exp-diff-errores/valid_none/valid_with_test/train_log.csv')

In [54]:
df.query('epoch < 5 & ablation == "no_ResNet2d" & crossFamily == "telomerase" ')

,epoch,train_f1,train_loss,valid_f1,valid_f1_post,valid_loss,ablation,crossFamily,valid_set,train_diff,test_diff
200,0,0.2674,0.0629,0.2722,0.3533,0.0598,no_ResNet2d,telomerase,None,NaN,NaN
201,1,0.3525,0.0488,0.3575,0.3584,0.0504,no_ResNet2d,telomerase,None,NaN,NaN
202,2,0.4059,0.0438,0.4311,0.4681,0.0427,no_ResNet2d,telomerase,None,NaN,NaN
203,3,0.4452,0.0405,0.4666,0.5134,0.0397,no_ResNet2d,telomerase,None,NaN,NaN
204,4,0.4730,0.0381,0.4653,0.5444,0.0381,no_ResNet2d,telomerase,None,NaN,NaN
220,0,0.2674,0.0629,0.2718,0.3529,0.0598,no_ResNet2d,telomerase,test,NaN,NaN
221,1,0.3525,0.0488,0.3575,0.3583,0.0503,no_ResNet2d,telomerase,test,NaN,NaN
222,2,0.4062,0.0439,0.4307,0.4669,0.0427,no_ResNet2d,telomerase,test,NaN,NaN
223,3,0.4453,0.0405,0.4673,0.5139,0.0397,no_ResNet2d,telomerase,test,NaN,NaN
224,4,0.4730,0.0381,0.4662,0.5443,0.0381,no_ResNet2d,telomerase,test,NaN,NaN

In [69]:
df_val_none.to_clipboard()

In [52]:
display(df_val_none)
display(df_val_test)

   epoch  train_f1  train_loss  valid_f1  valid_f1_post  valid_loss
0      0    0.2674      0.0629    0.2719         0.3533      0.0598
1      1    0.3526      0.0488    0.3573         0.3581      0.0504
2      2    0.4063      0.0438    0.4312         0.4673      0.0427
3      3    0.4452      0.0405    0.4672         0.5142      0.0397
4      4    0.4732      0.0381    0.4641         0.5439      0.0382

   epoch  train_f1  train_loss  valid_f1  valid_f1_post  valid_loss
0      0    0.2674      0.0629    0.2720         0.3532      0.0598
1      1    0.3527      0.0488    0.3576         0.3582      0.0504
2      2    0.4062      0.0439    0.4308         0.4683      0.0427
3      3    0.4451      0.0405    0.4665         0.5139      0.0397
4      4    0.4731      0.0381    0.4659         0.5442      0.0381

In [70]:
df_diff = df_val_none - df_val_test
df_diff

   epoch  train_f1  train_loss  valid_f1  valid_f1_post  valid_loss
0      0    0.0000      0.0000   -0.0001         0.0001      0.0000
1      0   -0.0001      0.0000   -0.0003        -0.0001      0.0000
2      0    0.0001     -0.0001    0.0004        -0.0010      0.0000
3      0    0.0001      0.0000    0.0007         0.0003      0.0000
4      0    0.0001      0.0000   -0.0018        -0.0003      0.0001

In [ ]:
import pandas as pd
train_logs = []
diff_logs = []
train_file = 'train_log.csv'
for ablation in ablations:
    for family in families:
        # Ruta del subdirectorio donde se encuentran los archivos train_log.csv
        train_file_path = os.path.join(FAMILIES_PATH, family, ablation)
        train_file_valid_path = os.path.join(FAMILIES_PATH, family, ablation, 'valid_with_test')
        print(train_file_path)
        print(train_file_valid_path)
        # Verificamos si el directorio existe
        if os.path.isdir(train_file_path):
            # Verificar si el archivo 'train_log.csv' existe en el directorio
            full_path = os.path.join(train_file_path, train_file)
            
            # Si el archivo existe, lo leemos
            if os.path.exists(full_path):
                try:
                    print(f'read : {train_file_path}')
                    df1 = pd.read_csv(full_path)
                    
                    # Agregar columnas de 'ablation' y 'crossFamily'
                    df1['ablation'] = ablation
                    df1['crossFamily'] = family 
                    
                    # Agregar el DataFrame a la lista
                    train_logs.append(df1)
                    print(f"Successfully loaded {full_path}")
                except Exception as e:
                    print(f"Error loading {full_path}: {e}")
        
        # Verificamos si el directorio existe
        if os.path.isdir(train_file_valid_path): 
            full_path = os.path.join(train_file_valid_path, train_file)
            
            # Si el archivo existe, lo leemos
            if os.path.exists(full_path):
                try:
                    print(f'read : {train_file_valid_path}')
                    df2 = pd.read_csv(full_path)                
                    
                    # Agregar el DataFrame a la lista
                    train_logs.append(df2)
                    print(f"Successfully loaded {full_path}")
                except Exception as e:
                    print(f"Error loading {full_path}: {e}")
        diff = df1 - df2
        diff_logs.append(diff)
        
del(df1)
del(df2)
del(diff)
# Combinar todos los DataFrames en uno solo
if train_logs:
    df = pd.concat(train_logs, ignore_index=True)
    print(f"Total rows in combined DataFrame: {df.shape[0]}")

if diff_logs:
    df_diff = pd.concat(diff_logs, ignore_index=True)
    print(f"Total rows in combined DataFrame: {df_diff.shape[0]}")

../pruebas/crossFamily/weights/tRNA/C1D_C2D
../pruebas/crossFamily/weights/tRNA/C1D_C2D/valid_with_test
read : ../pruebas/crossFamily/weights/tRNA/C1D_C2D
Successfully loaded ../pruebas/crossFamily/weights/tRNA/C1D_C2D/train_log.csv
read : ../pruebas/crossFamily/weights/tRNA/C1D_C2D/valid_with_test
Successfully loaded ../pruebas/crossFamily/weights/tRNA/C1D_C2D/valid_with_test/train_log.csv
../pruebas/crossFamily/weights/RNaseP/C1D_C2D
../pruebas/crossFamily/weights/RNaseP/C1D_C2D/valid_with_test
read : ../pruebas/crossFamily/weights/RNaseP/C1D_C2D
Successfully loaded ../pruebas/crossFamily/weights/RNaseP/C1D_C2D/train_log.csv
read : ../pruebas/crossFamily/weights/RNaseP/C1D_C2D/valid_with_test
Successfully loaded ../pruebas/crossFamily/weights/RNaseP/C1D_C2D/valid_with_test/train_log.csv
../pruebas/crossFamily/weights/telomerase/C1D_C2D
../pruebas/crossFamily/weights/telomerase/C1D_C2D/valid_with_test
read : ../pruebas/crossFamily/weights/telomerase/C1D_C2D
Successfully loaded ../pruebas/crossFamily/weights/telomerase/C1D_C2D/train_log.csv
read : ../pruebas/crossFamily/weights/telomerase/C1D_C2D/valid_with_test
Successfully loaded ../pruebas/crossFamily/weights/telomerase/C1D_C2D/valid_with_test/train_log.csv
../pruebas/crossFamily/weights/tRNA/no_ResNet2d
../pruebas/crossFamily/weights/tRNA/no_ResNet2d/valid_with_test
read : ../pruebas/crossFamily/weights/tRNA/no_ResNet2d
Successfully loaded ../pruebas/crossFamily/weights/tRNA/no_ResNet2d/train_log.csv
read : ../pruebas/crossFamily/weights/tRNA/no_ResNet2d/valid_with_test
Successfully loaded ../pruebas/crossFamily/weights/tRNA/no_ResNet2d/valid_with_test/train_log.csv
../pruebas/crossFamily/weights/RNaseP/no_ResNet2d
../pruebas/crossFamily/weights/RNaseP/no_ResNet2d/valid_with_test
read : ../pruebas/crossFamily/weights/RNaseP/no_ResNet2d
Successfully loaded ../pruebas/crossFamily/weights/RNaseP/no_ResNet2d/train_log.csv
read : ../pruebas/crossFamily/weights/RNaseP/no_ResNet2d/valid_with_test
Successfully loaded ../pruebas/crossFamily/weights/RNaseP/no_ResNet2d/valid_with_test/train_log.csv
../pruebas/crossFamily/weights/telomerase/no_ResNet2d
../pruebas/crossFamily/weights/telomerase/no_ResNet2d/valid_with_test
read : ../pruebas/crossFamily/weights/telomerase/no_ResNet2d
Successfully loaded ../pruebas/crossFamily/weights/telomerase/no_ResNet2d/train_log.csv
read : ../pruebas/crossFamily/weights/telomerase/no_ResNet2d/valid_with_test
Successfully loaded ../pruebas/crossFamily/weights/telomerase/no_ResNet2d/valid_with_test/train_log.csv
Total rows in combined DataFrame: 240
Total rows in combined DataFrame: 120

In [14]:
df_diff

,ablation,crossFamily,epoch,train_f1,train_loss,valid_f1,valid_f1_post,valid_loss
0,NaN,NaN,0,0.0000,0.0000,0.0001,0.0001,0.0000
1,NaN,NaN,0,0.0001,0.0000,0.0001,-0.0001,0.0000
2,NaN,NaN,0,0.0000,0.0000,0.0003,0.0000,0.0000
3,NaN,NaN,0,0.0000,0.0000,-0.0001,-0.0001,0.0000
4,NaN,NaN,0,0.0000,0.0000,0.0000,0.0002,0.0000
...,...,...,...,...,...,...,...,...
115,NaN,NaN,0,0.0000,-0.0001,0.0002,0.0003,0.0000
116,NaN,NaN,0,0.0001,0.0000,-0.0027,-0.0003,0.0000
117,NaN,NaN,0,0.0003,0.0000,0.0014,0.0013,0.0000
118,NaN,NaN,0,0.0007,0.0000,-0.0009,0.0019,0.0000
119,NaN,NaN,0,0.0005,0.0000,0.0003,-0.0004,-0.0001

In [8]:
df_diff.train_loss.value_counts()

train_loss
 0.0000    115
-0.0001      1
 0.0001      1
 0.0001      1
-0.0001      1
-0.0001      1
Name: count, dtype: int64

In [10]:
df_diff.valid_loss.value_counts()

valid_loss
 0.0000    107
 0.0001      4
 0.0001      3
-0.0001      2
-0.0001      2
 0.0001      1
-0.0002      1
Name: count, dtype: int64